.products_list {
  max-width: 1320px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  transition: 0.5s ease-in-out !important;
}

.container:hover .slick-next {
  background-color: #5a5ac9 !important;
  transition: 0.5s ease-in-out !important;
}

.container:hover .slick-prev {
  background-color: #5a5ac9 !important;
  transition: 0.5s ease-in-out !important;
}

.carousel_btn1 {
  position: absolute;
  border: none;
  background-color: transparent;
  left: 0;
}
.carousel_btn2 {
  position: absolute;
  border: none;
  background-color: transparent;
  right: 0;
}

.product_item {
  transition: 0.5s ease-in-out !important;
  max-width: 300px;
  background: #ffffff;
  box-shadow: 0px 0px 11.83px 1.17px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin-bottom: 40px;
}

.slider_products {
  display: flex;
  align-items: center;
}

.product_img {
  border-radius: 4px;
}

.product_content {
  padding: 17px;
}

.product_subtitle {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #111111;
  margin-bottom: 0px;
}
.product_cost {
  max-width: 266px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cost {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #111111;
}

.cart {
  background: #f6f6f6;
  padding: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.product_img-cart {
  width: 30px;
  height: auto;
}

.slick-prev {
  position: relative;
  width: 70px !important;
  height: 70px !important;
  left: -20px !important;
  top: 20%;
  height: 50px;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background: #111111 !important;
}

.slick-next {
  position: relative;
  width: 70px !important;
  height: 70px !important;
  right: -20px !important;
  background: #111111 !important;
  top: 20%;
  height: 50px;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@media only screen and (max-width: 1302px) {
  .product_item {
    transition: 0.5s ease-in-out !important;
    max-width: 290px;
    background: #ffffff;
  }

  .product_img {
    max-width: 290px;
  }
}

@media only screen and (max-width: 1264px) {
  .product_item {
    transition: 0.5s ease-in-out !important;
    max-width: 280px;
    background: #ffffff;
  }

  .product_img {
    max-width: 280px;
  }
}

@media only screen and (max-width: 1213px) {
  .product_item {
    transition: 0.5s ease-in-out !important;
    max-width: 270px;
    background: #ffffff;
  }

  .product_img {
    max-width: 270px;
  }
}

@media only screen and (max-width: 1176px) {
  .product_item {
    transition: 0.5s ease-in-out !important;
    max-width: 260px;
    background: #ffffff;
  }

  .product_img {
    max-width: 260px;
  }
}

@media only screen and (max-width: 1137px) {
  .product_item {
    transition: 0.5s ease-in-out !important;
    max-width: 250px;
    background: #ffffff;
  }

  .product_img {
    max-width: 250px;
  }

  .slick-prev {
    position: relative;
    width: 55px !important;
    height: 55px !important;
    left: -20px !important;
    top: 20%;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background: #111111 !important;
  }

  .slick-next {
    position: relative;
    width: 55px !important;
    height: 55px !important;
    right: -20px !important;
    background: #111111 !important;
    top: 20%;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}

@media only screen and (max-width: 1176px) {
  .product_item {
    transition: 0.5s ease-in-out !important;
    max-width: 260px;
    background: #ffffff;
  }

  .product_img {
    max-width: 260px;
  }
}

@media only screen and (max-width: 1080px) {
  .product_item {
    transition: 0.5s ease-in-out !important;
    max-width: 240px;
    background: #ffffff;
  }

  .product_img {
    max-width: 240px;
  }

  .slick-prev {
    position: relative;
    width: 50px !important;
    height: 50px !important;
    left: -20px !important;
    top: 20%;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background: #111111 !important;
  }

  .slick-next {
    position: relative;
    width: 50px !important;
    height: 50px !important;
    right: -20px !important;
    background: #111111 !important;
    top: 20%;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}

@media only screen and (max-width: 1024px) {
  .product_item {
    transition: 0.5s ease-in-out !important;
    max-width: 300px;
    background: #ffffff;
  }

  .product_img {
    max-width: 300px;
  }

  .slick-prev {
    position: relative;
    width: 60px !important;
    height: 60px !important;
    left: -20px !important;
    top: 20%;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background: #111111 !important;
  }

  .slick-next {
    position: relative;
    width: 60px !important;
    height: 60px !important;
    right: -20px !important;
    background: #111111 !important;
    top: 20%;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}

@media only screen and (max-width: 979px) {
  .product_item {
    transition: 0.5s ease-in-out !important;
    max-width: 290px;
    background: #ffffff;
  }

  .product_img {
    max-width: 290px;
  }
}

@media only screen and (max-width: 947px) {
  .product_item {
    transition: 0.5s ease-in-out !important;
    max-width: 280px;
    background: #ffffff;
  }

  .product_img {
    max-width: 280px;
  }

  .slick-prev {
    position: relative;
    width: 60px !important;
    height: 60px !important;
    left: -20px !important;
    top: 20%;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background: #111111 !important;
  }

  .slick-next {
    position: relative;
    width: 60px !important;
    height: 60px !important;
    right: -20px !important;
    background: #111111 !important;
    top: 20%;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}

@media only screen and (max-width: 979px) {
  .product_item {
    transition: 0.5s ease-in-out !important;
    max-width: 290px;
    background: #ffffff;
  }

  .product_img {
    max-width: 290px;
  }
}

@media only screen and (max-width: 934px) {
  .product_item {
    transition: 0.5s ease-in-out !important;
    max-width: 270px;
    background: #ffffff;
  }

  .product_img {
    max-width: 270px;
  }

  .slick-prev {
    position: relative;
    width: 50px !important;
    height: 50px !important;
    left: -20px !important;
    top: 20%;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background: #111111 !important;
  }

  .slick-next {
    position: relative;
    width: 50px !important;
    height: 50px !important;
    right: -20px !important;
    background: #111111 !important;
    top: 20%;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}

@media only screen and (max-width: 883px) {
  .product_item {
    transition: 0.5s ease-in-out !important;
    max-width: 260px;
    background: #ffffff;
  }

  .product_img {
    max-width: 260px;
  }
}

@media only screen and (max-width: 875px) {
  .product_item {
    transition: 0.5s ease-in-out !important;
    max-width: 250px;
    background: #ffffff;
  }

  .product_img {
    max-width: 250px;
  }
}

@media only screen and (max-width: 860px) {
  .product_item {
    transition: 0.5s ease-in-out !important;
    max-width: 240px;
    background: #ffffff;
  }

  .product_img {
    max-width: 240px;
  }
}

@media only screen and (max-width: 791px) {
  .product_item {
    position: relative;
    transition: 0.5s ease-in-out !important;
    max-width: 350px;
    background: #ffffff;
  }

  .product_img {
    max-width: 350px;
    width: 100%;
  }
  .product_img-cart {
    width: 40px;
    height: auto;
  }

  .cart {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}

@media only screen and (max-width: 762px) {
  .product_item {
    position: relative;
    transition: 0.5s ease-in-out !important;
    max-width: 330px;
    background: #ffffff;
  }

  .product_img {
    max-width: 330px;
    width: 100%;
  }
  .product_img-cart {
    width: 40px;
    height: auto;
  }

  .cart {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}

@media only screen and (max-width: 723px) {
  .product_item {
    position: relative;
    transition: 0.5s ease-in-out !important;
    max-width: 310px;
    background: #ffffff;
  }

  .product_img {
    max-width: 310px;
    width: 100%;
  }
}

@media only screen and (max-width: 682px) {
  .product_item {
    position: relative;
    transition: 0.5s ease-in-out !important;
    max-width: 290px;
    background: #ffffff;
  }

  .product_img {
    max-width: 290px;
    width: 100%;
  }
}

@media only screen and (max-width: 653px) {
  .product_item {
    position: relative;
    transition: 0.5s ease-in-out !important;
    max-width: 280px;
    background: #ffffff;
  }

  .product_img {
    max-width: 280px;
    width: 100%;
  }

  .product_img-cart {
    width: 30px;
    height: auto;
  }

  .cart {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}

@media only screen and (max-width: 623px) {
  .product_item {
    position: relative;
    transition: 0.5s ease-in-out !important;
    max-width: 270px;
    background: #ffffff;
  }

  .product_img {
    max-width: 270px;
    width: 100%;
  }
}

@media only screen and (max-width: 596px) {
  .product_item {
    position: relative;
    transition: 0.5s ease-in-out !important;
    max-width: 260px;
    background: #ffffff;
  }

  .product_img {
    max-width: 260px;
    width: 100%;
  }
}

@media only screen and (max-width: 578px) {
  .product_item {
    position: relative;
    transition: 0.5s ease-in-out !important;
    max-width: 250px;
    background: #ffffff;
  }

  .product_img {
    max-width: 250px;
    width: 100%;
  }
}

@media only screen and (max-width: 565px) {
  .product_item {
    position: relative;
    transition: 0.5s ease-in-out !important;
    max-width: 240px;
    background: #ffffff;
  }

  .product_img {
    max-width: 240px;
    width: 100%;
  }
}

@media only screen and (max-width: 539px) {
  .product_item {
    position: relative;
    transition: 0.5s ease-in-out !important;
    max-width: 490px;
    background: #ffffff;
  }

  .product_img-cart {
    width: 40px;
    height: auto;
  }

  .product_img {
    max-width: 490px;
    width: 100%;
  }

  .cart {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}
