.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../assets/hero-back2.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  background: #111111;
  border: 1px solid #212529;
  padding: 16px 31.5625px 16px 30px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 20px;
  cursor: pointer;
}
